* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.titulo, .titulo-historia, .titulo-form, .menu-texto h1, .menu-texto p, .menu-imagenes h2 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
}

.texto-inicio {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  color: black;
  font-family: 'Merriweather', serif;
}

.newsletter {
  padding: 80px 0;
  background: #f2f2f2;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.newsletter .content .btn {
  min-height: 50px;
  border-radius: 0;
  background: #243c4f;
  color: #fff;
  font-weight: 600;
}

.newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px;
}

.newsletter .form-control {
  height: 50px;
  border-color: #fff;
  border-radius: 0;
}

.newsletter .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #243c4f;
}

.ubicacion-txt {
  text-transform: uppercase;
  color: black;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 10%;
}

.ubicacion {
  margin: 10px;
  padding: 10px;
}

/*-----nosotros-----*/
.texto-nosotros {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Merriweather', serif;
}

img {
  width: 100%;
}

/*-----galeria-----*/
.gallery {
  padding: 80px 0;
}

.gallery img {
  max-width: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/*-----contacto-----*/
.titulo-form {
  margin: 20px;
  padding: 20px;
}

.mb-3 {
  text-transform: capitalize;
}

/*----tienda----*/
.txt-tienda {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
}

.txt-tienda h1 {
  text-transform: capitalize;
}

/*------menus-------*/
.menu-texto h1 {
  font-size: 3em;
  font-family: 'Merriweather', serif;
  color: black;
}

.menu-texto p {
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

.menu-imagenes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-imagenes img {
  margin: 10px;
  padding: 10px;
}

.menu-imagenes h2 {
  color: black;
}

.menu-imagenes hr {
  padding: 1px;
}

/*-----footer-----*/
footer {
  background-color: #e3efe8;
  background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  padding: 10px;
}

footer .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

footer .contenedor .boton {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: center;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer .contenedor .boton:hover {
  width: 200px;
}

footer .contenedor .boton:hover .icono i {
  color: #fff;
}

footer .contenedor .boton:nth-child(1):hover .icon {
  background: #4267b2;
}

footer .contenedor .boton:nth-child(2):hover .icon {
  background: #1da1f2;
}

footer .contenedor .boton:nth-child(3):hover .icon {
  background: #e1306c;
}

footer .contenedor .boton:nth-child(4):hover .icon {
  background: #ff0000;
}

footer .contenedor .boton:nth-child(1) span {
  color: #4267b2;
}

footer .contenedor .boton:nth-child(2) span {
  color: #1da1f2;
}

footer .contenedor .boton:nth-child(3) span {
  color: #e1306c;
}

footer .contenedor .boton:nth-child(4) span {
  color: #ff0000;
}

footer .contenedor .boton .icono {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer .contenedor .boton .icono i {
  font-size: 25px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer .contenedor .boton span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*# sourceMappingURL=estilo.css.map */