@import "variables";

@mixin espacio($margen, $relleno) {
    margin: $margen;
    padding: $relleno;
}

$estilo: (
    centrar:center,
    fuente: 1.5em,
    color1: black,
    color2: #fff,
    titulo: 3em,
);

body {
    background-color: #e7eff9;
background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
 }   




.titulo {
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.texto-inicio {
    @include espacio(10px, 10px);
    font-size: map-get($estilo, fuente);
    color: map-get($estilo, color1);
    font-family: 'Merriweather', serif;
}

.newsletter {
    padding: 80px 0;
    background: #f2f2f2;

    .content {
        max-width: 650px;
        margin: 0 auto;
        text-align: map-get($estilo, centrar);
        position: relative;
        z-index: 2;

        .btn {
            min-height: 50px;
            border-radius: 0;
            background: #243c4f;
            color: map-get($estilo, color2);
            font-weight: 600;
        }

        h2 {
            color: #243c4f;
            margin-bottom: 40px;
        }
    }

    .form-control {
        height: 50px;
        border-color: map-get($estilo, color2);
        border-radius: 0;

        &:focus {
            box-shadow: none;
            border: 2px solid #243c4f;
        }
    }
}

.ubicacion-txt {
    text-transform: uppercase;
    color: map-get($estilo, color1);
    font-family: 'Merriweather', serif;
    text-align: map-get($estilo, centrar);
    margin-top: 10%;
  
}

.ubicacion {
    @include espacio(10px,10px);
}



/*-----nosotros-----*/

.texto-nosotros {
    @include espacio(10px,10px);
    font-size: map-get($estilo, fuente);
    display: block;
    justify-content:map-get($estilo, centrar);
    font-family: 'Merriweather', serif;
}

.titulo-historia {
    @extend .titulo;
}

img {
    width: 100%;
}


/*-----galeria-----*/

.gallery {
    padding: 80px 0;

    img {
        max-width: 100%;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}




/*-----contacto-----*/

.titulo-form {
    @extend .titulo;
    @include espacio(20px,20px);
}

.mb-3 {
    text-transform: capitalize;
}


/*----tienda----*/

.txt-tienda {
    @include espacio(10px,10px);
    text-align: center;
    font-size: 1.5em;

    h1 {
        text-transform: capitalize;
    }

}





/*------menus-------*/

.menu-texto {
    h1 {
        @extend .titulo;
        font-size: map-get($estilo, titulo);
        font-family: 'Merriweather', serif;
        color: black;

    }

    p {
        @extend .titulo;
        font-family: 'Merriweather', serif;
        font-size: 1em;
    }
}

.menu-imagenes {
    align-items: center;

    

    h2 {
        @extend .titulo;
        color: black;
    }

    hr {
        padding: 1px;
    }


}
/*-----footer-----*/

footer {
    background-color: #e3efe8;
    background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    

    p {
        text-align: center;
        padding: 10px;
    }

.contenedor {
    display: flex;
    justify-content: center;
    padding-top: 10px;

.boton{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: center;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;

    &:hover{
        width: 200px;
      }

    &:hover .icono i{
        color: #fff;
      }

    &:nth-child(1):hover .icon{
        background: $facebook;
      }

    &:nth-child(2):hover .icon{
        background: $twitter;
      }

    &:nth-child(3):hover .icon{
        background: $instagram;
    }

    &:nth-child(4):hover .icon{
        background: $youtube;
      }

      &:nth-child(1) span{
        color: $facebook;
      }
      &:nth-child(2) span{
        color:$twitter;
      }
      &:nth-child(3) span{
        color: $instagram;
      }
      &:nth-child(4) span{
        color: $youtube;
      }

      .icono{
        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
        transition: all 0.3s ease-out;

        i{
            font-size: 25px;
            line-height: 60px;
            transition: all 0.3s ease-out;
          }

      }

      span{
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
        transition: all 0.3s ease-out;
      }

  }

}

}
  
 
 



 